extends markdown

# only looks in markdown.snippets of this directory, not
# ../Ultisnips/markdown.snippets

# html style images for xaringan
snippet imgh
<img src="$1" width="$2">$0
endsnippet

snippet kj
kJ&nbsp;mol$^{-1}$
endsnippet
